@font-face {
    font-family: 'Shanghai';
    src: url(font/shanghai.ttf) format ('truetype');
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.contact{
    margin-left: 70px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 20%;
}

.contact-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 30px;
}

.contact-form h1{
    font-size: 50px;
    font-family: 'Shanghai', sans-serif;
    color: #ffd100;
    margin-bottom: 10px;
}

.contact-form p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
}

span{
    color: #ffd100;
}

.contact-form form{
    position: relative;
}

.contact-form form input,
form textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid #ffd100;
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: #ffd100;
    font-size: 15px;
    margin-bottom: 20px;
}

.contact-form textarea{
    resize: none;
    height: 80px;
}

.contact-form form .bttns{
    display: inline-block;
    background: transparent;
    text-decoration: none;
    border: 2px solid #ffd100;
    padding: 10px 40px;
    border-radius: 30px;
    line-height: 1.3;
    color:#ffd100;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s;
    width: 150px;
    margin-left: 190px;
}

.contact-form form .bttns:hover{
    background:#ffd100;
    color:black;
    border: 2px solid transparent;
    transform: scale(1.06);
    transition: .5s ease-in-out;
    transform: translateY(-10px), translateX(-10px);
}
